<script type="text/html" id="coffee-maker">
    <div>
        Coffee Maker
    </div>
</script>

<script>
    Vue.component("coffee-maker", {
        template: "#coffee-maker",
        data() {
            return {

            }
        },
        methods: {
            startCoffee(){

            }
        }
    });
</script>